[submodule "vendors/deps-unified-data"]
	path = vendors/deps-unified-data
	url = git@github.com:epam/deps-unified-data.git
[submodule "vendors/deps-observability-instrumentation"]
	path = vendors/deps-observability-instrumentation
	url = git@github.com:epam/deps-observability-instrumentation.git
[submodule "vendors/deps-object-storage"]
	path = vendors/deps-object-storage
	url = git@github.com:epam/deps-object-storage.git
[submodule "vendors/deps-message-flow"]
	path = vendors/deps-message-flow
	url = git@github.com:epam/deps-message-flow.git
